/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.container-small{
    width: 1000px;
    margin: 0 auto;
}

/*
HEADER
*/
.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    

} 
.left-h {
    width: 50%;
    display: flex;
    align-items: center;

}
.right-h {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    justify-content: space-around;
    color:red;
    text-decoration: none;
    padding: 10px;
    
}

.right-h .left-h {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5);
    /* padding: 10px; */
}
.logo{
    margin: 10px;
    height: 40px;
    width: 100px;
}
.buttons-h{
    height: 30px;
    width: 50px;
    margin: 10px;
}
.navbar-dx .navbar-sx{
    height: 40px; 
    padding: 10px;
}










/*
    MAIN TOP
*/
main .info{
    display: flex;/*colonne invece che riga*/
}
main .info .small-info{
    width: 30%;
}
main .info .big-info{
    width: 70%;
}
main .jumbotron{
    position: relative;
    top: 50px;
}
main header{
margin-bottom: 100px;
}



/*
    CENTRAL MAIN
*/
.my-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.my-row .big-gutter{

    margin: 0 -20px;
}
.columns {
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
}
.my-row.big-gutter .columns {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}
.column-bottom{
    width: calc(100% - 20px);
    
}
.my-row.big-gutter .column-bottom{
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    
}
main .container-small .info.big-gutter{
    margin: 0 10px;
    margin-bottom: 80px;
}
main #section3 .my-row.big-gutter .c


/*
    SPONSOR
*/



/*
    CENTRAL MAIN BOTTOM SPONSOR
*/



/*
    FOOTER
*/





/*
    FOOTER BOTTOM
*/



/*
    DEBUG
*/
.debug #header{
    height: 50px;
}
.debug header .left-h{
    border: 2px dashed red;
    background-color: blue;
}
.debug header .right-h{
    border: 2px dashed red;
    background-color: green;
}
.debug .logo{
    background-color: blueviolet;
    border: 2px dashed green;
}
.debug .navbar-sx > *{
    background-color: chartreuse;
    border: 2px dashed black;

}
.debug .navbar-dx > *{
    background-color: chartreuse;
    border: 2px dashed black;
}
.debug .buttons-h{
    border: 2px dashed black;
    background-color: aqua;

}
.debug main .container-main{
    border: 2px dashed green;
    background-color: coral;
}
.debug main header{
    background-color: aqua;
    border: 2px dashed green;
}  
.debug .info{
    background-color: tomato;
    border: 2px dashed green;
}
.debug .info > *{
    min-height: 300px;
}
.debug .column{
    background-color: green;
    border: 2px dashed yellow;
    min-height: 600px;

}
.debug #section3 .column{
    background-color: green;
    border: 2px dashed yellow;
    min-height: 200px;

}