/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1100px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/*
HEADER
*/
.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    

} 
.left-h {
    width: 50%;
    display: flex;
    align-items: center;

}
.right-h {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    justify-content: space-around;
    color:red;
    text-decoration: none;
    padding: 10px;
    
}

.right-h .left-h {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5);
    /* padding: 10px; */
}
.logo{
    margin: 10px;
    height: 40px;
    width: 100px;
}
.buttons-h{
    height: 30px;
    width: 50px;
    margin: 10px;
}
.navbar-dx .navbar-sx{
    height: 40px; 
    padding: 10px;
}









/*
    MAIN TOP
*/
.container-main{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.main-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Title-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
h1{
    margin-top: 60px;
    font-size: 4em;
}



/*
    CENTRAL MAIN
*/



/*
    SPONSOR
*/



/*
    CENTRAL MAIN BOTTOM SPONSOR
*/



/*
    FOOTER
*/





/*
    FOOTER BOTTOM
*/



/*
    DEBUG
*/
.debug header > *{
    height: 50px;
}
.debug header .left-h{
    border: 2px dashed red;
    background-color: blue;
}
.debug header .right-h{
    border: 2px dashed red;
    background-color: green;
}
.debug .logo{
    background-color: blueviolet;
    border: 2px dashed green;
}
.debug .navbar-sx > *{
    background-color: chartreuse;
    border: 2px dashed black;

}
.debug .navbar-dx > *{
    background-color: chartreuse;
    border: 2px dashed black;
}
.debug .buttons-h{
    border: 2px dashed black;
    background-color: aqua;

}
.debug main .container-main{
    border: 2px dashed green;
    background-color: coral;
    height: 800px;
}
.debug main .main-top{
    background-color: aqua;
    min-height: 700px;
    margin-top: 100px;
    width: 80%;
}
/* .debug main .container-main .jumbotron{
    background-color: darkorchid;
    
} */
.debug main .Title-center{
    border: 2px dashed red;
    background-color: darkorchid;
    
    
}